# 0.1. Импортируем зависимости

In [63]:
import itertools
import pandas as pd
import psycopg2
from psycopg2.extensions import quote_ident
import re

# 0.2. Подключимся к базе
Предполагается, что соответствующая база и пользователь с соответствующими правами уже созданы, таблиц с наименованиями, конфликтующих с наименованиями таблиц задания в базе нет, подключение таким образом возможно и т.п.

In [64]:
DATABASE = 'db_hw_2'
USER = 'db_hw_2_user'

connection = psycopg2.connect(dbname=DATABASE, user=USER)
connection.autocommit = True
cursor = connection.cursor()

# 1.1. Создадим таблицы с соответствующими структурами

In [65]:
cursor.execute("""
    CREATE TABLE customer_20240101 (
        customer_id int4,
        first_name varchar(50),
        last_name varchar(50),
        gender varchar(30),
        dob varchar(50),
        job_title varchar(50),
        job_industry_category varchar(50),
        wealth_segment varchar(50),
        deceased_indicator varchar(50),
        owns_car varchar(30),
        address varchar(50),
        postcode varchar(30),
        state varchar(30),
        country varchar(30),
        property_valuation int4
    )
""")

cursor.execute("""
    CREATE TABLE transaction_20240101 (
        transaction_id int4,
        product_id int4,
        customer_id int4,
        transaction_date varchar(30),
        online_order varchar(30),
        order_status varchar(30),
        brand varchar(30),
        product_line varchar(30),
        product_class varchar(30),
        product_size varchar(30),
        list_price float4,
        standard_cost float4
    )
""")

# 1.2. Загрузим данные в базу из csv-файлов 
Для этого, после чтения данных из каждого файла, будем формировать и выполнять SQL-запрос `INSERT INTO ...` вида `INSERT INTO table_name ( column_name [, ...] ) VALUES (expression, ...), ...` согласно [официальной документации PostgreSQL](https://www.postgresql.org/docs/current/sql-insert.html).

Заодно выведем наименования колонок таблиц.

In [66]:
for filename in ['customer.csv', 'transaction.csv']:
    # прочитаем данные из соответствующего файла
    # NULL-ами (в терминах SQL) будем считать пустые строки и строку "null" в любом регистре
    # типы используем такие, которые позволят избежать нежелательного изменения данных
    # с учётом типов, заданных выше для соответствующих колонок наших таблиц в базе
    df = pd.read_csv(filename, nrows=1, sep=';')
    dtypes = {k: str for k in df.columns}
    dtypes.update(list_price=float, standard_cost=float)
    df = pd.read_csv(
        filename, 
        sep=';',
        na_values=('', ),
        keep_default_na=False,
        decimal=',',
        dtype=dtypes,
    )
    table = f'{filename[:-4]}_20240101'
    df = df.map(lambda x: None if isinstance(x, str) and re.match('^null$', x, flags=re.I) else x)
    df = df.where(pd.notnull(df), None)
    
    # значения для вставки и наименования колонок
    values = list(itertools.chain.from_iterable(df.values.tolist()))
    cols = [i.lower() for i in df.columns]
    del df
    
    # Сформируем (и выполним) запрос INSERT INTO следующего вида
    # INSERT INTO table_name ( column_name [, ...] ) VALUES (expression, ...), ...
    # согласно официальной документации https://www.postgresql.org/docs/current/sql-insert.html
    cols_sql = ', '.join(quote_ident(i, cursor) for i in cols)
    print(f'Колонки таблицы "{table}": {cols_sql}')
    values_sql = ','.join([f'(' + ','.join(['%s'] * len(cols)) + ')'] * (len(values) // len(cols)))
    table_ident = quote_ident(table, cursor)
    cursor.execute(f'INSERT INTO {table_ident} ({cols_sql}) VALUES {values_sql}', values)

Колонки таблицы "customer_20240101": "customer_id", "first_name", "last_name", "gender", "dob", "job_title", "job_industry_category", "wealth_segment", "deceased_indicator", "owns_car", "address", "postcode", "state", "country", "property_valuation"
Колонки таблицы "transaction_20240101": "transaction_id", "product_id", "customer_id", "transaction_date", "online_order", "order_status", "brand", "product_line", "product_class", "product_size", "list_price", "standard_cost"

## Получим полезную информацию о данных для использования в дальнейшем
По наименованиям колонок и в результате осмотра данных в файлах / таблицах видим, что потенциальные ключи тут скорее всего `customer_id` для таблицы `customer_20240101` и `transaction_id` для таблицы `transaction_20240101`, а объединять таблицы скорее всего разумно по колонке `customer_id`, получим дополнительные данные, чтобы подкрепить данные предположения.

In [67]:
cursor.execute("""
    SELECT count(DISTINCT customer_id) = count(*), bool_or(customer_id IS NULL)
    FROM customer_20240101
""")
print(('В таблице customer_20240101 значения customer_id уникальны: %s,'
       + ' есть ли пропуски (null) в customer_id: %s') % cursor.fetchall()[0])
cursor.execute("""
    SELECT count(DISTINCT transaction_id) = count(*), bool_or(transaction_id IS NULL)
    FROM transaction_20240101
""")
print(('В таблице transaction_20240101 значения transaction_id уникальны: %s,'
       ' есть ли пропуски (null) в transaction_id: %s') % cursor.fetchall()[0])
cursor.execute("""
    SELECT count(*), sum((c.customer_id IS NULL)::int)
    FROM transaction_20240101 t LEFT JOIN customer_20240101 c USING (customer_id)
""")
print(('В таблице transaction_20240101 количество записей (строк): %s, записей,'
       ' по которым нет соответствующей записи в customer_20240101,'
       ' если присоединять по равенству customer_id: %s') % cursor.fetchall()[0])

В таблице customer_20240101 значения customer_id уникальны: True, есть ли пропуски (null) в customer_id: False
В таблице transaction_20240101 значения transaction_id уникальны: True, есть ли пропуски (null) в transaction_id: False
В таблице transaction_20240101 количество записей (строк): 20000, записей, по которым нет соответствующей записи в customer_20240101, если присоединять по равенству customer_id: 3

Из вышеполученных результатов видим, что атрибуты `customer_id` и `transaction_id` являются потенциальными ключами таблиц `customer_20240101` и `transaction_20240101` соответственно.
Для надёжности, ниже создадим соответствующие ограничения "первичный ключ", что не получится, если вывод неверен.
Кроме того, видно, что почти всем значениям `customer_id` в таблице `transaction_20240101` соответствует значение `customer_id` в таблице `customer_20240101`, поэтому будем соединять их по равенству значений этой колонки, когда для запроса нам будут нужны данные из обеих таблиц.

In [68]:
cursor.execute('ALTER TABLE customer_20240101 ADD PRIMARY KEY (customer_id)')
cursor.execute('ALTER TABLE transaction_20240101 ADD PRIMARY KEY (transaction_id)')

Получилось наложить соответствующие ограничения "первичный ключ", чем дополнительно подтвердилось, что можем полагаться на то, что ключам customer_id, transaction_id соответствуют уникальные строки в соответствующих таблицах, где они являются первичными ключами, пропусков (null в терминах SQL) в этих полях нет.

Поскольку ниже нам понадобится знать, является ли заказ онлайн-заказом или нет, посмотрим, какие значения бывают в соответствующей колонке.

In [69]:
cursor.execute('SELECT DISTINCT online_order FROM transaction_20240101')
cursor.fetchall()

[(None,), ('True',), ('False',)]

Видим, что для получения онлайн-заказов разумно будет использовать условие `online_order = 'True'`.

Далее посмотрим, какие значения бывают у статуса подтверждённости транзакции.

In [70]:
cursor.execute('SELECT DISTINCT order_status FROM transaction_20240101')
cursor.fetchall()

[('Approved',), ('Cancelled',)]

Видим, что подтверждённые транзакции разумно будет выбирать по значению `order_status = 'Approved'`

# 2. Выполним запросы для вывода разной информации

Результат каждого запроса будем выводить в виде списка кортежей, который возвращает метод `cursor.fetchall` соответствующего объекта из библиотеки `psycopg2`

Ниже в запросах будем использовать оператор `DISTINCT` для вывода только уникальных строк, функцию `to_date` для приведения строк к типу `date`.

## 2.1. Выведем все уникальные бренды, у которых стандартная стоимость выше 1500 долларов

In [71]:
cursor.execute("""
    SELECT DISTINCT brand
    FROM transaction_20240101
    WHERE standard_cost > 1500
        -- кажется нелогичным считать пропуски (NULL) брендами, поэтому их выводить не будем
        AND brand IS NOT NULL
""")
cursor.fetchall()

[('Solex',), ('Giant Bicycles',), ('OHM Cycles',), ('Trek Bicycles',)]

## 2.2. Выведем все подтвержденные транзакции за период с '2017-04-01' по '2017-04-09' включительно

In [80]:
cursor.execute("""
    SELECT transaction_id, transaction_date
    FROM transaction_20240101
    WHERE order_status = 'Approved'
        AND to_date(transaction_date, 'DD.MM.YYYY') BETWEEN '2017-04-01' AND '2017-04-09'
""")
cursor.fetchall()

[(17, '03.04.2017'),
 (19, '06.04.2017'),
 (23, '08.04.2017'),
 (83, '01.04.2017'),
 (89, '04.04.2017'),
 (126, '01.04.2017'),
 (146, '06.04.2017'),
 (154, '06.04.2017'),
 (220, '09.04.2017'),
 (228, '04.04.2017'),
 (280, '08.04.2017'),
 (290, '05.04.2017'),
 (304, '07.04.2017'),
 (526, '02.04.2017'),
 (534, '08.04.2017'),
 (563, '05.04.2017'),
 (669, '07.04.2017'),
 (671, '09.04.2017'),
 (767, '06.04.2017'),
 (898, '03.04.2017'),
 (904, '02.04.2017'),
 (943, '08.04.2017'),
 (948, '09.04.2017'),
 (1044, '01.04.2017'),
 (1049, '07.04.2017'),
 (1073, '05.04.2017'),
 (1074, '05.04.2017'),
 (1125, '07.04.2017'),
 (1161, '02.04.2017'),
 (1187, '06.04.2017'),
 (1197, '04.04.2017'),
 (1235, '04.04.2017'),
 (1242, '03.04.2017'),
 (1254, '04.04.2017'),
 (1275, '08.04.2017'),
 (1294, '09.04.2017'),
 (1342, '03.04.2017'),
 (1418, '08.04.2017'),
 (1497, '08.04.2017'),
 (1503, '07.04.2017'),
 (1593, '06.04.2017'),
 (1639, '08.04.2017'),
 (1653, '02.04.2017'),
 (1686, '03.04.2017'),
 (1695, '03.04.2017'),
 (1707, '03.04.2017'),
 (1714, '09.04.2017'),
 (1799, '04.04.2017'),
 (1825, '07.04.2017'),
 (1827, '04.04.2017'),
 (1854, '04.04.2017'),
 (1890, '04.04.2017'),
 (1911, '01.04.2017'),
 (1930, '01.04.2017'),
 (1999, '04.04.2017'),
 (2001, '03.04.2017'),
 (2010, '02.04.2017'),
 (2049, '06.04.2017'),
 (2051, '08.04.2017'),
 (2055, '02.04.2017'),
 (2070, '06.04.2017'),
 (2099, '04.04.2017'),
 (2146, '01.04.2017'),
 (2222, '07.04.2017'),
 (2251, '06.04.2017'),
 (2277, '02.04.2017'),
 (2304, '09.04.2017'),
 (2370, '01.04.2017'),
 (2383, '02.04.2017'),
 (2410, '07.04.2017'),
 (2420, '02.04.2017'),
 (2451, '01.04.2017'),
 (2460, '07.04.2017'),
 (2508, '06.04.2017'),
 (2529, '05.04.2017'),
 (2551, '01.04.2017'),
 (2564, '06.04.2017'),
 (2590, '09.04.2017'),
 (2638, '07.04.2017'),
 (2660, '01.04.2017'),
 (2677, '04.04.2017'),
 (2694, '04.04.2017'),
 (2724, '08.04.2017'),
 (2810, '07.04.2017'),
 (2817, '02.04.2017'),
 (2913, '06.04.2017'),
 (2940, '02.04.2017'),
 (2988, '04.04.2017'),
 (3042, '05.04.2017'),
 (3189, '09.04.2017'),
 (3214, '02.04.2017'),
 (3247, '05.04.2017'),
 (3363, '09.04.2017'),
 (3382, '08.04.2017'),
 (3440, '04.04.2017'),
 (3457, '08.04.2017'),
 (3459, '09.04.2017'),
 (3483, '03.04.2017'),
 (3510, '09.04.2017'),
 (3524, '01.04.2017'),
 (3527, '09.04.2017'),
 (3551, '08.04.2017'),
 (3560, '08.04.2017'),
 (3588, '02.04.2017'),
 (3611, '08.04.2017'),
 (3691, '05.04.2017'),
 (3707, '09.04.2017'),
 (3716, '09.04.2017'),
 (3717, '08.04.2017'),
 (3765, '06.04.2017'),
 (3779, '07.04.2017'),
 (3819, '05.04.2017'),
 (3822, '06.04.2017'),
 (3972, '04.04.2017'),
 (4069, '02.04.2017'),
 (4073, '03.04.2017'),
 (4074, '09.04.2017'),
 (4118, '04.04.2017'),
 (4137, '03.04.2017'),
 (4316, '06.04.2017'),
 (4340, '05.04.2017'),
 (4386, '07.04.2017'),
 (4416, '02.04.2017'),
 (4452, '02.04.2017'),
 (4458, '04.04.2017'),
 (4477, '07.04.2017'),
 (4492, '01.04.2017'),
 (4534, '09.04.2017'),
 (4640, '04.04.2017'),
 (4656, '08.04.2017'),
 (4674, '04.04.2017'),
 (4765, '09.04.2017'),
 (4828, '07.04.2017'),
 (4844, '06.04.2017'),
 (4873, '06.04.2017'),
 (4914, '04.04.2017'),
 (4960, '05.04.2017'),
 (4984, '08.04.2017'),
 (4994, '02.04.2017'),
 (5008, '06.04.2017'),
 (5043, '02.04.2017'),
 (5058, '05.04.2017'),
 (5099, '01.04.2017'),
 (5105, '09.04.2017'),
 (5195, '08.04.2017'),
 (5411, '03.04.2017'),
 (5417, '06.04.2017'),
 (5433, '07.04.2017'),
 (5537, '05.04.2017'),
 (5643, '07.04.2017'),
 (5702, '08.04.2017'),
 (5781, '09.04.2017'),
 (5802, '05.04.2017'),
 (5896, '03.04.2017'),
 (5922, '01.04.2017'),
 (5928, '05.04.2017'),
 (5991, '05.04.2017'),
 (6004, '02.04.2017'),
 (6046, '01.04.2017'),
 (6178, '02.04.2017'),
 (6262, '04.04.2017'),
 (6270, '04.04.2017'),
 (6438, '01.04.2017'),
 (6475, '05.04.2017'),
 (6525, '05.04.2017'),
 (6588, '06.04.2017'),
 (6590, '06.04.2017'),
 (6623, '08.04.2017'),
 (6646, '05.04.2017'),
 (6652, '08.04.2017'),
 (6717, '01.04.2017'),
 (6723, '05.04.2017'),
 (6725, '04.04.2017'),
 (6733, '05.04.2017'),
 (6762, '08.04.2017'),
 (6843, '07.04.2017'),
 (6859, '09.04.2017'),
 (6876, '04.04.2017'),
 (6899, '02.04.2017'),
 (6918, '05.04.2017'),
 (6938, '09.04.2017'),
 (6983, '05.04.2017'),
 (6993, '06.04.2017'),
 (7085, '06.04.2017'),
 (7165, '09.04.2017'),
 (7181, '09.04.2017'),
 (7211, '05.04.2017'),
 (7226, '04.04.2017'),
 (7251, '04.04.2017'),
 (7258, '05.04.2017'),
 (7266, '02.04.2017'),
 (7302, '01.04.2017'),
 (7320, '05.04.2017'),
 (7361, '03.04.2017'),
 (7388, '02.04.2017'),
 (7390, '05.04.2017'),
 (7397, '07.04.2017'),
 (7418, '06.04.2017'),
 (7444, '04.04.2017'),
 (7493, '02.04.2017'),
 (7526, '06.04.2017'),
 (7674, '02.04.2017'),
 (7695, '02.04.2017'),
 (7703, '06.04.2017'),
 (7719, '08.04.2017'),
 (7768, '06.04.2017'),
 (7777, '09.04.2017'),
 (7802, '08.04.2017'),
 (7803, '09.04.2017'),
 (7813, '03.04.2017'),
 (7828, '08.04.2017'),
 (7847, '09.04.2017'),
 (7852, '03.04.2017'),
 (7891, '09.04.2017'),
 (7915, '07.04.2017'),
 (8006, '08.04.2017'),
 (8024, '09.04.2017'),
 (8057, '04.04.2017'),
 (8075, '04.04.2017'),
 (8087, '09.04.2017'),
 (8228, '07.04.2017'),
 (8259, '01.04.2017'),
 (8265, '01.04.2017'),
 (8304, '02.04.2017'),
 (8377, '01.04.2017'),
 (8383, '01.04.2017'),
 (8514, '06.04.2017'),
 (8534, '09.04.2017'),
 (8567, '03.04.2017'),
 (8624, '03.04.2017'),
 (8626, '01.04.2017'),
 (8640, '05.04.2017'),
 (8676, '03.04.2017'),
 (8699, '04.04.2017'),
 (8789, '02.04.2017'),
 (8795, '08.04.2017'),
 (8860, '04.04.2017'),
 (8871, '05.04.2017'),
 (8888, '08.04.2017'),
 (8895, '08.04.2017'),
 (8909, '08.04.2017'),
 (8988, '02.04.2017'),
 (9026, '07.04.2017'),
 (9136, '06.04.2017'),
 (9297, '04.04.2017'),
 (9329, '09.04.2017'),
 (9354, '06.04.2017'),
 (9378, '01.04.2017'),
 (9383, '05.04.2017'),
 (9395, '05.04.2017'),
 (9449, '07.04.2017'),
 (9460, '09.04.2017'),
 (9526, '07.04.2017'),
 (9602, '02.04.2017'),
 (9606, '07.04.2017'),
 (9625, '01.04.2017'),
 (9636, '05.04.2017'),
 (9677, '04.04.2017'),
 (9685, '09.04.2017'),
 (9687, '09.04.2017'),
 (9703, '01.04.2017'),
 (9758, '02.04.2017'),
 (9801, '04.04.2017'),
 (9828, '03.04.2017'),
 (9883, '07.04.2017'),
 (9961, '08.04.2017'),
 (9983, '03.04.2017'),
 (10004, '08.04.2017'),
 (10012, '02.04.2017'),
 (10031, '01.04.2017'),
 (10132, '06.04.2017'),
 (10169, '05.04.2017'),
 (10232, '08.04.2017'),
 (10242, '04.04.2017'),
 (10308, '03.04.2017'),
 (10358, '09.04.2017'),
 (10390, '07.04.2017'),
 (10437, '05.04.2017'),
 (10506, '07.04.2017'),
 (10525, '09.04.2017'),
 (10608, '01.04.2017'),
 (10612, '09.04.2017'),
 (10631, '08.04.2017'),
 (10682, '09.04.2017'),
 (10702, '07.04.2017'),
 (10748, '08.04.2017'),
 (10754, '02.04.2017'),
 (10832, '05.04.2017'),
 (10839, '05.04.2017'),
 (10867, '08.04.2017'),
 (10919, '04.04.2017'),
 (10963, '03.04.2017'),
 (11145, '06.04.2017'),
 (11161, '01.04.2017'),
 (11196, '01.04.2017'),
 (11209, '07.04.2017'),
 (11242, '01.04.2017'),
 (11252, '09.04.2017'),
 (11277, '03.04.2017'),
 (11299, '04.04.2017'),
 (11381, '02.04.2017'),
 (11436, '02.04.2017'),
 (11484, '06.04.2017'),
 (11493, '08.04.2017'),
 (11532, '08.04.2017'),
 (11557, '05.04.2017'),
 (11559, '06.04.2017'),
 (11579, '07.04.2017'),
 (11598, '07.04.2017'),
 (11706, '02.04.2017'),
 (11727, '05.04.2017'),
 (11730, '06.04.2017'),
 (11791, '03.04.2017'),
 (11808, '04.04.2017'),
 (11816, '05.04.2017'),
 (11875, '02.04.2017'),
 (11904, '06.04.2017'),
 (11908, '08.04.2017'),
 (11938, '02.04.2017'),
 (12037, '08.04.2017'),
 (12070, '06.04.2017'),
 (12175, '06.04.2017'),
 (12180, '07.04.2017'),
 (12184, '02.04.2017'),
 (12229, '04.04.2017'),
 (12320, '07.04.2017'),
 (12330, '05.04.2017'),
 (12391, '08.04.2017'),
 (12418, '06.04.2017'),
 (12419, '03.04.2017'),
 (12441, '03.04.2017'),
 (12472, '07.04.2017'),
 (12501, '08.04.2017'),
 (12506, '07.04.2017'),
 (12547, '03.04.2017'),
 (12613, '06.04.2017'),
 (12646, '08.04.2017'),
 (12677, '05.04.2017'),
 (12820, '05.04.2017'),
 (12902, '03.04.2017'),
 (12954, '05.04.2017'),
 (12963, '02.04.2017'),
 (12969, '08.04.2017'),
 (12989, '09.04.2017'),
 (12996, '09.04.2017'),
 (12999, '09.04.2017'),
 (13012, '02.04.2017'),
 (13048, '01.04.2017'),
 (13085, '01.04.2017'),
 (13135, '09.04.2017'),
 (13160, '09.04.2017'),
 (13162, '09.04.2017'),
 (13183, '07.04.2017'),
 (13298, '01.04.2017'),
 (13313, '07.04.2017'),
 (13365, '05.04.2017'),
 (13395, '06.04.2017'),
 (13494, '07.04.2017'),
 (13496, '08.04.2017'),
 (13515, '01.04.2017'),
 (13518, '05.04.2017'),
 (13561, '01.04.2017'),
 (13563, '02.04.2017'),
 (13567, '09.04.2017'),
 (13579, '01.04.2017'),
 (13596, '05.04.2017'),
 (13607, '03.04.2017'),
 (13642, '04.04.2017'),
 (13715, '08.04.2017'),
 (13747, '07.04.2017'),
 (13760, '04.04.2017'),
 (13898, '01.04.2017'),
 (13907, '04.04.2017'),
 (13971, '03.04.2017'),
 (13995, '08.04.2017'),
 (14032, '08.04.2017'),
 (14039, '04.04.2017'),
 (14074, '04.04.2017'),
 (14189, '06.04.2017'),
 (14237, '01.04.2017'),
 (14257, '04.04.2017'),
 (14319, '09.04.2017'),
 (14336, '09.04.2017'),
 (14394, '01.04.2017'),
 (14522, '06.04.2017'),
 (14541, '01.04.2017'),
 (14544, '07.04.2017'),
 (14612, '02.04.2017'),
 (14619, '09.04.2017'),
 (14632, '07.04.2017'),
 (14640, '09.04.2017'),
 (14684, '01.04.2017'),
 (14720, '09.04.2017'),
 (14829, '04.04.2017'),
 (15108, '08.04.2017'),
 (15113, '05.04.2017'),
 (15171, '02.04.2017'),
 (15177, '08.04.2017'),
 (15191, '04.04.2017'),
 (15266, '04.04.2017'),
 (15291, '01.04.2017'),
 (15304, '09.04.2017'),
 (15316, '05.04.2017'),
 (15394, '02.04.2017'),
 (15441, '04.04.2017'),
 (15442, '07.04.2017'),
 (15444, '04.04.2017'),
 (15488, '01.04.2017'),
 (15538, '01.04.2017'),
 (15549, '05.04.2017'),
 (15559, '01.04.2017'),
 (15572, '03.04.2017'),
 (15576, '01.04.2017'),
 (15597, '09.04.2017'),
 (15626, '02.04.2017'),
 (15657, '02.04.2017'),
 (15728, '06.04.2017'),
 (15758, '04.04.2017'),
 (15809, '02.04.2017'),
 (15856, '08.04.2017'),
 (15860, '01.04.2017'),
 (15876, '01.04.2017'),
 (15912, '07.04.2017'),
 (15980, '01.04.2017'),
 (15981, '07.04.2017'),
 (16032, '04.04.2017'),
 (16049, '08.04.2017'),
 (16074, '03.04.2017'),
 (16087, '05.04.2017'),
 (16143, '02.04.2017'),
 (16162, '06.04.2017'),
 (16200, '09.04.2017'),
 (16246, '06.04.2017'),
 (16248, '02.04.2017'),
 (16278, '08.04.2017'),
 (16355, '05.04.2017'),
 (16379, '04.04.2017'),
 (16394, '07.04.2017'),
 (16404, '08.04.2017'),
 (16459, '09.04.2017'),
 (16498, '05.04.2017'),
 (16606, '01.04.2017'),
 (16620, '02.04.2017'),
 (16621, '01.04.2017'),
 (16741, '09.04.2017'),
 (16779, '01.04.2017'),
 (16861, '05.04.2017'),
 (16867, '01.04.2017'),
 (16888, '05.04.2017'),
 (16914, '08.04.2017'),
 (16915, '03.04.2017'),
 (16940, '06.04.2017'),
 (16982, '06.04.2017'),
 (16991, '06.04.2017'),
 (17001, '09.04.2017'),
 (17014, '03.04.2017'),
 (17082, '03.04.2017'),
 (17083, '08.04.2017'),
 (17108, '02.04.2017'),
 (17139, '03.04.2017'),
 (17142, '04.04.2017'),
 (17143, '07.04.2017'),
 (17150, '06.04.2017'),
 (17157, '09.04.2017'),
 (17165, '05.04.2017'),
 (17168, '09.04.2017'),
 (17169, '08.04.2017'),
 (17255, '02.04.2017'),
 (17266, '06.04.2017'),
 (17380, '05.04.2017'),
 (17407, '02.04.2017'),
 (17453, '02.04.2017'),
 (17456, '05.04.2017'),
 (17517, '07.04.2017'),
 (17542, '01.04.2017'),
 (17652, '07.04.2017'),
 (17660, '01.04.2017'),
 (17681, '07.04.2017'),
 (17704, '02.04.2017'),
 (17714, '05.04.2017'),
 (17737, '02.04.2017'),
 (17741, '08.04.2017'),
 (17762, '08.04.2017'),
 (17834, '07.04.2017'),
 (17844, '03.04.2017'),
 (17945, '05.04.2017'),
 (18017, '03.04.2017'),
 (18041, '01.04.2017'),
 (18086, '07.04.2017'),
 (18090, '04.04.2017'),
 (18160, '05.04.2017'),
 (18298, '06.04.2017'),
 (18376, '08.04.2017'),
 (18470, '08.04.2017'),
 (18478, '09.04.2017'),
 (18503, '03.04.2017'),
 (18529, '09.04.2017'),
 (18542, '01.04.2017'),
 (18552, '05.04.2017'),
 (18560, '05.04.2017'),
 (18681, '09.04.2017'),
 (18701, '08.04.2017'),
 (18709, '07.04.2017'),
 (18750, '05.04.2017'),
 (18771, '04.04.2017'),
 (18797, '02.04.2017'),
 (18837, '04.04.2017'),
 (18947, '03.04.2017'),
 (18960, '01.04.2017'),
 (19057, '09.04.2017'),
 (19100, '02.04.2017'),
 (19141, '03.04.2017'),
 (19210, '07.04.2017'),
 (19215, '04.04.2017'),
 (19299, '02.04.2017'),
 (19311, '08.04.2017'),
 (19338, '06.04.2017'),
 (19339, '05.04.2017'),
 (19354, '01.04.2017'),
 (19418, '04.04.2017'),
 (19424, '06.04.2017'),
 (19541, '08.04.2017'),
 (19546, '06.04.2017'),
 (19556, '09.04.2017'),
 (19575, '06.04.2017'),
 (19628, '07.04.2017'),
 (19655, '09.04.2017'),
 (19853, '02.04.2017'),
 (19899, '06.04.2017'),
 (19968, '06.04.2017'),
 (19988, '05.04.2017')]

## 2.3. Выведем все профессии у клиентов из сферы IT или Financial Services, которые начинаются с фразы 'Senior'
Для такой фильтрации используем оператор `SIMILAR TO` для фильтрации с помощью регулярного выражения в определении SQL стандарта, а такое выражение, соответственно, пропишем в запросе в виде `'Senior\M%'`, чтобы фильтровались наименования, начинающиеся с фразы 'Senior'.

In [73]:
cursor.execute("""
    SELECT DISTINCT job_title
    FROM customer_20240101
    WHERE job_industry_category IN ('IT', 'Financial Services')
        AND job_title SIMILAR TO 'Senior\M%'
""")
cursor.fetchall()

[('Senior Cost Accountant',),
 ('Senior Developer',),
 ('Senior Editor',),
 ('Senior Financial Analyst',),
 ('Senior Quality Engineer',),
 ('Senior Sales Associate',)]

## 2.4. Выведем все бренды, которые закупают клиенты, работающие в сфере Financial Services
Здесь нам понадобятся данные из двух таблиц. Для присоединения используем, например, оператор `USING`, т.к. присоединять мы хотим по условию равенства значений `customer_id` из обеих таблиц (осмотрев данные в файле и по наименованиям колонок таблиц, которые мы выводили выше, несложно сделать вывод, что присоединять нужно по `customer_id`), что данный оператор нам и обеспечит.

Используем `INNER JOIN`, т.к. нас интересуют только случаи наличия соответствующих данных в обеих таблицах.

In [74]:
cursor.execute("""
    SELECT DISTINCT t.brand
    FROM transaction_20240101 t
    INNER JOIN customer_20240101 c
        USING (customer_id)
    WHERE c.job_industry_category = 'Financial Services'
        AND t.brand IS NOT NULL
""")
cursor.fetchall()

[('Giant Bicycles',),
 ('Norco Bicycles',),
 ('OHM Cycles',),
 ('Solex',),
 ('Trek Bicycles',),
 ('WeareA2B',)]

## 2.5. Выведем 10 клиентов, которые оформили онлайн-заказ продукции из брендов 'Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles'
Для разнообразия (и чтобы показать, что мы и так умеем) присоединим по условию без оператора `USING`.

In [75]:
cursor.execute("""
    SELECT DISTINCT c.customer_id, c.first_name, c.last_name
    FROM customer_20240101 c
    INNER JOIN transaction_20240101 t
        ON t.customer_id = c.customer_id
    WHERE t.online_order = 'True'
        AND t.brand IN ('Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles')
    LIMIT 10
""")
cursor.fetchall()

[(1, 'Laraine', 'Medendorp'),
 (2, 'Eli', 'Bockman'),
 (3, 'Arlin', 'Dearle'),
 (5, 'Sheila-kathryn', 'Calton'),
 (6, 'Curr', 'Duckhouse'),
 (7, 'Fina', 'Merali'),
 (8, 'Rod', 'Inder'),
 (11, 'Uriah', 'Bisatt'),
 (12, 'Sawyere', 'Flattman'),
 (13, 'Gabriele', 'Norcross')]

## 2.6. Выведем всех клиентов, у которых нет транзакций
Тут используем `LEFT JOIN`, чтобы в выборке сохранились строки из `customer_20240101`, не соответствующие никаким строкам из `transaction_20240101` по соответствующему условию. Эти строки нас и будут интересовать - это будут строки, относящиеся к клиентам, у которых нет транзакций, что нас и интересует. Отфильтруем их с помощью соответствующего условия, как показано в запросе.

In [79]:
cursor.execute("""
    SELECT c.customer_id, c.first_name, c.last_name
    FROM customer_20240101 c
    LEFT JOIN transaction_20240101 t
        USING (customer_id)
    WHERE t.customer_id IS NULL
""")
cursor.fetchall()

[(852, 'Andie', 'Bonney'),
 (869, 'Addia', 'Abels'),
 (1373, 'Shaylynn', 'Epsley'),
 (2074, 'Roslyn', 'Rawdall'),
 (2660, 'Hunt', 'Scollard'),
 (3229, 'Carrol', 'Gheorghie'),
 (3236, 'Edsel', 'Arguile'),
 (3501, 'Kayla', 'Alentyev'),
 (3502, 'Wilfrid', 'Cleaves'),
 (3503, 'Tootsie', 'Rafter'),
 (3504, 'Keriann', 'Perdue'),
 (3505, 'Dolly', 'Scallan'),
 (3506, 'Mercy', 'Donisi'),
 (3507, 'Christoph', 'Greatreax'),
 (3508, 'Malvin', 'Marre'),
 (3509, 'Janine', 'Hesey'),
 (3510, 'Jemima', 'Izaac'),
 (3511, 'Willem', 'Spraging'),
 (3512, 'Vladimir', 'Abramowsky'),
 (3513, 'Enriqueta', 'Waterhowse'),
 (3514, 'Darcy', 'Ilett'),
 (3515, 'Leelah', 'Pynner'),
 (3516, 'Diarmid', 'Vearnals'),
 (3517, 'Domeniga', 'Terney'),
 (3518, 'Magdaia', 'Beardwell'),
 (3519, 'Aldus', 'Kenningley'),
 (3520, 'Travis', 'Kaszper'),
 (3521, 'Oneida', 'Olivia'),
 (3522, 'Lorri', 'Byrth'),
 (3523, 'Lin', 'Tarver'),
 (3524, 'Waiter', 'Piscopello'),
 (3525, 'Town', 'Yitzhakov'),
 (3526, 'Pail', 'Iacopini'),
 (3527, 'Kiley', 'Scotson'),
 (3528, 'Eliot', 'Scammell'),
 (3529, 'Austine', 'Kinny'),
 (3530, 'Erik', 'Kenneford'),
 (3531, 'Shannah', 'Pountain'),
 (3532, 'May', 'Birch'),
 (3533, 'Neale', 'Lowings'),
 (3534, 'Kacie', 'Stanbrooke'),
 (3535, 'Bren', 'Dabbes'),
 (3536, 'Laurence', 'Aulsford'),
 (3537, 'Sholom', 'Pavlasek'),
 (3538, 'Kerby', 'Nassie'),
 (3539, 'Sheelah', 'Caine'),
 (3540, 'Ali', 'Naris'),
 (3541, 'Aloin', 'Harhoff'),
 (3542, 'Perl', 'Suddaby'),
 (3543, 'Shanie', 'Zahor'),
 (3544, 'Benoite', 'Trahmel'),
 (3545, 'Wenonah', 'Filgate'),
 (3546, 'Hally', 'Pollie'),
 (3547, 'Ganny', 'Dwerryhouse'),
 (3548, 'Dalli', 'Seden'),
 (3549, 'Jodee', 'Macewan'),
 (3550, 'Daisey', 'Britto'),
 (3551, 'Zed', 'Douris'),
 (3552, 'Ebeneser', 'Lowde'),
 (3553, 'Dietrich', 'Geggie'),
 (3554, 'Briggs', 'Mower'),
 (3555, 'Latashia', None),
 (3556, 'Larina', 'Gheeorghie'),
 (3557, 'Tisha', 'Gibbings'),
 (3558, 'Torey', 'Sarney'),
 (3559, 'Farra', 'Bails'),
 (3560, 'Gav', 'Bonin'),
 (3561, 'Emelda', 'Allbones'),
 (3562, 'Martynne', 'Bullivant'),
 (3563, 'De', 'Leyband'),
 (3564, 'Sandy', 'Olford'),
 (3565, 'Charyl', 'Pottiphar'),
 (3566, 'Bram', 'Pheasant'),
 (3567, 'Eileen', 'Ilchenko'),
 (3568, 'Berthe', 'Griniov'),
 (3569, 'Janel', 'Daice'),
 (3570, 'Mordy', 'Hedin'),
 (3571, 'Othilia', 'Metcalf'),
 (3572, 'Willis', 'Tilston'),
 (3573, 'Mab', 'Dwyer'),
 (3574, 'Eileen', 'Eland'),
 (3575, 'Kandace', 'Desesquelle'),
 (3576, 'Rochette', 'Ebbens'),
 (3577, 'Fowler', 'Scotsbrook'),
 (3578, 'Dorella', 'Sineath'),
 (3579, 'Rachel', 'Somes'),
 (3580, 'Roby', 'Samson'),
 (3581, 'Lindsy', 'Ygo'),
 (3582, 'Beryle', 'Qusklay'),
 (3583, 'Josselyn', 'Mathey'),
 (3584, 'Adler', 'Teale'),
 (3585, 'Concordia', 'Lunbech'),
 (3586, 'Abby', 'Brownstein'),
 (3587, 'Ines', 'Galfour'),
 (3588, 'Henrie', 'Beadman'),
 (3589, 'Nalani', 'Dummer'),
 (3590, 'Carolan', 'Velez'),
 (3591, 'Dwight', 'Kinsey'),
 (3592, 'Pall', 'MacCart'),
 (3593, 'Carry', 'Abercromby'),
 (3594, 'Gustavo', 'Juschka'),
 (3595, 'Timi', 'Huson'),
 (3596, 'Christi', 'Gilluley'),
 (3597, 'Giorgi', None),
 (3598, 'Penny', 'McKirdy'),
 (3599, 'Lane', 'Maguire'),
 (3600, 'Godart', 'Gooderick'),
 (3601, 'Fanya', 'Gethyn'),
 (3602, 'Alicea', 'Scamwell'),
 (3603, 'Cale', 'Yaneev'),
 (3604, 'Findlay', 'Lubman'),
 (3605, 'Andy', 'Risely'),
 (3606, 'Jamima', 'Wainscot'),
 (3607, 'Troy', 'Blaydes'),
 (3608, 'Conway', 'Surgen'),
 (3609, 'Chicky', 'Butterfield'),
 (3610, 'Erl', 'Markel'),
 (3611, 'Uriah', 'Chantree'),
 (3612, 'Normand', 'Matous'),
 (3613, 'Fairfax', 'Pummery'),
 (3614, 'Berkie', 'Gimber'),
 (3615, 'Junia', 'Napton'),
 (3616, 'Vale', 'Dagnan'),
 (3617, 'Jessa', 'Milnthorpe'),
 (3618, 'Evyn', 'Rouby'),
 (3619, 'Myranda', 'Cridland'),
 (3620, 'Gerry', 'Ackhurst'),
 (3621, 'Umeko', 'Hearfield'),
 (3622, 'Anetta', 'Brosenius'),
 (3623, 'Oren', 'Barwack'),
 (3624, 'Lenka', None),
 (3625, 'Cammie', 'Rubinfeld'),
 (3626, 'Cora', 'Hince'),
 (3627, 'Loren', 'Pischof'),
 (3628, 'Sharron', 'Gaynes'),
 (3629, 'Vale', 'Starcks'),
 (3630, 'Jeni', 'Heymes'),
 (3631, 'Mignonne', 'Barwood'),
 (3632, 'Elena', 'Sandys'),
 (3633, 'Donavon', 'Ainsby'),
 (3634, 'Clemence', 'Kornas'),
 (3635, 'Elset', None),
 (3636, 'Trudi', 'Bickerstasse'),
 (3637, 'Luigi', 'Edgeworth'),
 (3638, 'Fifi', 'Dorrins'),
 (3639, 'Megan', 'Perrygo'),
 (3640, 'Merralee', 'Forman'),
 (3641, 'Wolfie', 'Hoyes'),
 (3642, 'Ardith', 'Portigall'),
 (3643, 'Bettye', 'Dumberrill'),
 (3644, 'Peder', 'Frotton'),
 (3645, 'Cozmo', 'Rylstone'),
 (3646, 'Allene', 'Pauly'),
 (3647, 'Carlyle', 'Frape'),
 (3648, 'Tracie', 'Bartolomeoni'),
 (3649, 'Jayne', 'Gawthrope'),
 (3650, 'Darrelle', 'Rosas'),
 (3651, 'Baxie', None),
 (3652, 'Aldrich', 'Camble'),
 (3653, 'Devlen', 'Perrett'),
 (3654, 'Kenyon', 'Paddefield'),
 (3655, 'Waldemar', 'Mostin'),
 (3656, 'Talia', 'Sidnell'),
 (3657, 'Wyatan', 'Rogeon'),
 (3658, 'Bo', 'Vell'),
 (3659, 'Farra', 'Catto'),
 (3660, 'Gradeigh', 'Hothersall'),
 (3661, 'Tadeas', 'Shitliff'),
 (3662, 'Pippo', 'Cator'),
 (3663, 'Hermy', 'Casement'),
 (3664, 'Faina', 'Czaja'),
 (3665, 'Toma', 'Klaaasen'),
 (3666, 'Mathew', 'Marousek'),
 (3667, 'Nettie', 'Goghin'),
 (3668, 'Katlin', 'Ragsdale'),
 (3669, 'Maynard', 'Isaq'),
 (3670, 'Leupold', 'Bernardini'),
 (3671, 'Crystie', 'Deshorts'),
 (3672, 'Werner', 'Yglesias'),
 (3673, 'Tobin', 'Fucher'),
 (3674, 'Rodger', 'Gores'),
 (3675, 'Samuele', 'Heller'),
 (3676, 'Derk', 'Willingale'),
 (3677, 'Bartel', 'Fonteyne'),
 (3678, 'Tonya', 'Worthington'),
 (3679, 'Murielle', 'Klimkov'),
 (3680, 'Sawyere', 'Onele'),
 (3681, 'Doll', 'Benedicto'),
 (3682, 'Dukie', 'Asson'),
 (3683, 'Lorain', 'Maliphant'),
 (3684, 'Jeffie', 'Mortell'),
 (3685, 'Solomon', 'Ruffles'),
 (3686, 'Shirley', 'Siss'),
 (3687, 'Jessie', 'Wards'),
 (3688, 'Fritz', 'Le Merchant'),
 (3689, 'Orel', 'Joncic'),
 (3690, 'Sheela', 'Nutton'),
 (3691, 'Mathew', 'Seid'),
 (3692, 'Linea', 'Kubica'),
 (3693, 'Brenna', 'Raft'),
 (3694, 'Antoni', 'MacAllister'),
 (3695, 'Lem', 'Clamp'),
 (3696, 'Orlan', 'Dunning'),
 (3697, 'Zebedee', 'Christal'),
 (3698, 'Devon', 'Baudic'),
 (3699, 'Lillian', 'Somerfield'),
 (3700, 'Lazar', 'Restall'),
 (3701, 'Anstice', 'Dunsmuir'),
 (3702, 'Floyd', 'Meharry'),
 (3703, 'Kelvin', 'Oldford'),
 (3704, 'Haslett', 'Ropars'),
 (3705, 'Tedmund', 'Clawsley'),
 (3706, 'Darby', 'Jellett'),
 (3707, 'Marten', 'Posnette'),
 (3708, 'Lois', 'Laskey'),
 (3709, 'Lilly', 'Roubay'),
 (3710, 'Sallyann', 'Stangoe'),
 (3711, 'Ellene', 'Scinelli'),
 (3712, 'Esmeralda', 'Klousner'),
 (3713, 'Cynthy', 'Snoad'),
 (3714, 'Lemuel', 'Gerram'),
 (3715, 'Willow', 'Rusbridge'),
 (3716, 'Kari', 'Bamlett'),
 (3717, 'Arlin', 'Woollacott'),
 (3718, 'Damiano', None),
 (3719, 'Dorette', 'Attridge'),
 (3720, 'Adelice', 'Tams'),
 (3721, 'Merrili', 'Potticary'),
 (3722, 'Merilee', 'Hammerson'),
 (3723, 'Justine', 'Pirt'),
 (3724, 'Griffith', 'Minor'),
 (3725, 'Elisha', 'Venny'),
 (3726, 'Ange', 'Austick'),
 (3727, 'Eba', 'Youle'),
 (3728, 'Chanda', 'Garmons'),
 (3729, 'Armand', 'McNish'),
 (3730, 'Joann', 'Clemson'),
 (3731, 'Jandy', 'Rodgers'),
 (3732, 'Shawn', 'De Hooge'),
 (3733, 'Shelden', 'Rodenburg'),
 (3734, 'Trixi', 'Wickes'),
 (3735, 'Cchaddie', 'Heffron'),
 (3736, 'Charles', 'Brounfield'),
 (3737, 'Elyssa', 'De Witt'),
 (3738, 'Lucila', 'Smalls'),
 (3739, 'Gates', 'Nelthorpe'),
 (3740, 'Rania', 'Poulter'),
 (3741, 'Mollee', 'Jeavons'),
 (3742, 'Veda', 'Faill'),
 (3743, 'Riki', 'Aimable'),
 (3744, 'Franchot', 'Loeber'),
 (3745, 'Randy', 'Duligall'),
 (3746, 'Thaddeus', 'McLurg'),
 (3747, 'Valerye', 'Yukhtin'),
 (3748, 'Maurise', 'Beal'),
 (3749, 'Blondelle', 'Swynley'),
 (3750, 'Yanaton', 'Beacom'),
 (3751, 'Millicent', 'Nacci'),
 (3752, 'Peta', 'Nunes Nabarro'),
 (3753, 'Ebony', 'Peagrim'),
 (3754, 'Emmy', 'MacGibbon'),
 (3755, 'Stephen', 'Garnar'),
 (3756, 'Barry', None),
 (3757, 'Hyacinthia', 'Crain'),
 (3758, 'Naomi', 'Whiles'),
 (3759, 'Sue', 'Batstone'),
 (3760, 'Bryana', 'Vennart'),
 (3761, 'Zarla', 'Seyers'),
 (3762, 'Marinna', 'Ors'),
 (3763, 'Law', 'Jore'),
 (3764, 'Nonie', 'Newson'),
 (3765, 'Bobbe', 'Lomaz'),
 (3766, 'Marcos', 'Algar'),
 (3767, 'Man', 'Bigglestone'),
 (3768, 'Christina', 'Grevatt'),
 (3769, 'Kerry', 'Wooldridge'),
 (3770, 'Caddric', 'Ruddiforth'),
 (3771, 'Pippy', 'Matysiak'),
 (3772, 'Anselma', 'Rennie'),
 (3773, 'Wadsworth', 'Ruselin'),
 (3774, 'Elizabeth', 'Christy'),
 (3775, 'Avie', 'Cleator'),
 (3776, 'Kennie', 'Baszniak'),
 (3777, 'Letty', 'Giacobelli'),
 (3778, 'Ilaire', 'Redborn'),
 (3779, 'Ulick', 'Daspar'),
 (3780, 'Mitchel', 'Bellefant'),
 (3781, 'Karalee', 'Hosten'),
 (3782, 'Elijah', 'Drillot'),
 (3783, 'Eachelle', 'Girardey'),
 (3784, 'Davie', 'Moscon'),
 (3785, 'Fernande', 'Jahan'),
 (3786, 'Barnie', 'Blenkensop'),
 (3787, 'Mariejeanne', 'Kelling'),
 (3788, 'Wilie', 'Glanton'),
 (3789, 'Conn', 'Westberg'),
 (3790, 'Kurtis', 'Morson'),
 (3791, 'Bertrand', 'Sissons'),
 (3792, 'Ingunna', 'Loxston'),
 (3793, 'Shannen', 'Pitcock'),
 (3794, 'Dorrie', 'Paige'),
 (3795, 'Taylor', 'Dollimore'),
 (3796, 'Morgen', 'Sieghart'),
 (3797, 'Kriste', 'Oldall'),
 (3798, 'Yorker', 'Dennison'),
 (3799, 'Violetta', 'Monnery'),
 (3800, 'Morena', 'Ayer'),
 (3801, 'Auberta', 'Andrault'),
 (3802, 'Leila', 'Elcombe'),
 (3803, 'Josepha', 'Finder'),
 (3804, 'Andria', 'Keays'),
 (3805, 'Margaret', 'McSperrin'),
 (3806, 'Ado', 'Gailor'),
 (3807, 'Bibby', 'Goman'),
 (3808, 'Cal', 'Wilber'),
 (3809, 'Angelita', 'Itzcovichch'),
 (3810, 'Cacilie', 'Grimoldby'),
 (3811, 'Etta', 'Leele'),
 (3812, 'Sophie', 'Druhan'),
 (3813, 'Skelly', 'Caudell'),
 (3814, 'Constancia', 'Gebbe'),
 (3815, 'Jayson', 'Gasparro'),
 (3816, 'Farra', 'Klimkiewich'),
 (3817, 'Tuckie', None),
 (3818, 'Erny', 'Andryushin'),
 (3819, 'Alvan', 'Phillput'),
 (3820, 'Maren', 'Ruske'),
 (3821, 'Cassandra', 'Cescotti'),
 (3822, 'Conny', 'Speechley'),
 (3823, 'Corabel', 'Todd'),
 (3824, 'Giffard', 'Stollman'),
 (3825, 'Cinda', 'Rounds'),
 (3826, 'Marlow', 'Balffye'),
 (3827, 'Cherida', 'Whyffen'),
 (3828, 'Tessy', 'Beefon'),
 (3829, 'Cornie', 'Hillhouse'),
 (3830, 'Jareb', 'Filippucci'),
 (3831, 'Kory', 'Mabson'),
 (3832, 'Sarajane', 'Mortimer'),
 (3833, 'Jamie', 'Staziker'),
 (3834, 'Bianca', 'Ricket'),
 (3835, 'Jorgan', 'Crosoer'),
 (3836, 'Jolee', 'Stearndale'),
 (3837, 'Alysa', 'McDiarmid'),
 (3838, 'Mil', 'Clemitt'),
 (3839, 'Wallie', 'Christauffour'),
 (3840, 'Marc', 'Torrans'),
 (3841, 'Barnebas', 'Munro'),
 (3842, 'Van', 'Durnell'),
 (3843, 'Mahmoud', 'Ligerton'),
 (3844, 'Clotilda', 'Oret'),
 (3845, 'Bonnie', 'Goracci'),
 (3846, 'Nariko', 'McClymont'),
 (3847, 'Erinn', 'Ewing'),
 (3848, 'Luca', 'Cabotto'),
 (3849, 'Marice', 'Morrice'),
 (3850, 'Alexandro', 'McCullock'),
 (3851, 'Fowler', 'Bauduccio'),
 (3852, 'Zerk', 'Merrien'),
 (3853, 'Kerri', 'Marrington'),
 (3854, 'Melody', 'Ivanilov'),
 (3855, 'Brnaby', 'Doughtery'),
 (3856, 'Shane', 'Haseldine'),
 (3857, 'Tanner', 'McCuthais'),
 (3858, 'Sabina', 'Tarbin'),
 (3859, 'Boonie', 'Searle'),
 (3860, 'Sheila-kathryn', 'Conklin'),
 (3861, 'Thayne', 'Canepe'),
 (3862, 'Casey', 'Kett'),
 (3863, 'Virgilio', 'Haverty'),
 (3864, 'Ilyssa', 'Piaggia'),
 (3865, 'Urbanus', 'Fuxman'),
 (3866, 'Theressa', 'Morfield'),
 (3867, 'Carmelia', 'Klimentyonok'),
 (3868, 'Rica', 'Corrado'),
 (3869, 'Amalie', 'Isabell'),
 (3870, 'Fidelia', 'Cess'),
 (3871, 'Magda', 'Shugg'),
 (3872, 'Wilma', 'Budcock'),
 (3873, 'Sascha', 'Paolozzi'),
 (3874, 'Bendicty', 'Juste'),
 (3875, 'Berti', 'Arnould'),
 (3876, 'Willow', 'Cutmere'),
 (3877, 'Georgine', 'Poutress'),
 (3878, 'Waldon', 'Digges'),
 (3879, 'Vin', 'Attack'),
 (3880, 'Donella', 'Disley'),
 (3881, 'Olivie', 'Nazair'),
 (3882, 'Nona', 'Tubb'),
 (3883, 'Nissa', 'Conrad'),
 (3884, 'Sibley', 'Thirlwall'),
 (3885, 'Asher', None),
 (3886, 'Fidela', 'Haresign'),
 (3887, 'Dulcie', 'Nealon'),
 (3888, 'Lusa', 'Vigers'),
 (3889, 'Dunn', 'Ziem'),
 (3890, 'Mavra', 'Padell'),
 (3891, 'Amalea', 'Elcy'),
 (3892, 'Roma', 'Finlater'),
 (3893, 'Hadria', 'Moles'),
 (3894, 'Burgess', 'Diaper'),
 (3895, 'Reginald', 'Struys'),
 (3896, 'Perla', 'Blakiston'),
 (3897, 'Vanni', 'McAloren'),
 (3898, 'Demetrius', 'Youdell'),
 (3899, 'Rex', 'Gittings'),
 (3900, 'Garland', 'Wildsmith'),
 (3901, 'Evelina', 'Bavin'),
 (3902, 'Angelia', 'McPake'),
 (3903, 'Dayna', 'Cawthera'),
 (3904, 'Arabelle', 'Nevill'),
 (3905, 'Leodora', 'Cowill'),
 (3906, 'Bronny', 'Claige'),
 (3907, 'Adriana', 'Heam'),
 (3908, 'Dolf', 'Serridge'),
 (3909, 'Micheil', 'McGeorge'),
 (3910, 'Hall', 'Leyfield'),
 (3911, 'Valeda', 'Ezele'),
 (3912, 'Ryon', 'Darridon'),
 (3913, 'Phylys', 'Neenan'),
 (3914, 'Izabel', 'Roelofs'),
 (3915, 'Cybil', 'Brombell'),
 (3916, 'Myrtia', None),
 (3917, 'Artemas', 'Kyncl'),
 (3918, 'Rosalia', 'Skedge'),
 (3919, 'Traci', 'Beeckx'),
 (3920, 'Filbert', 'Deetlefs'),
 (3921, 'Gaby', 'Lozano'),
 (3922, 'Frans', 'Whitecross'),
 (3923, 'Shay', 'Rayer'),
 (3924, 'Perry', 'Lampert'),
 (3925, 'Cally', 'Chaim'),
 (3926, 'Allistir', 'Heckney'),
 (3927, 'Conway', None),
 (3928, 'Kristin', 'Way'),
 (3929, 'Jacqui', 'Fortnam'),
 (3930, 'Blancha', 'Baldi'),
 (3931, 'Kylie', 'Epine'),
 (3932, 'Hadley', 'Veracruysse'),
 (3933, 'Chiarra', 'Cops'),
 (3934, 'Cherice', 'Wehner'),
 (3935, 'Teodor', 'Alfonsini'),
 (3936, 'Rodd', 'Spare'),
 (3937, 'Brennen', 'Mularkey'),
 (3938, 'Dulcy', 'Wormleighton'),
 (3939, 'Georges', 'Dumbelton'),
 (3940, 'Anna', 'Warmington'),
 (3941, 'Cinnamon', 'Batram'),
 (3942, 'Barbie', 'Gergler'),
 (3943, 'Adler', 'Dredge'),
 (3944, 'Urbain', 'Sinnock'),
 (3945, 'Lazarus', 'Donaghy'),
 (3946, 'Wylie', 'FitzGilbert'),
 (3947, 'Tanitansy', 'McTrustam'),
 (3948, 'Roberto', 'Beinke'),
 (3949, 'Costa', 'Sleightholm'),
 (3950, 'Alic', 'Juniper'),
 (3951, 'Ephrem', 'Hollerin'),
 (3952, 'Di', 'Borsnall'),
 (3953, 'Allyson', 'Simak'),
 (3954, 'Archaimbaud', 'McAteer'),
 (3955, 'Dido', 'Austick'),
 (3956, 'Hector', 'Poundsford'),
 (3957, 'Bernice', 'Scotchforth'),
 (3958, 'Pincus', 'Woodard'),
 (3959, 'Dannie', 'Sowray'),
 (3960, 'Hobart', 'Burgan'),
 (3961, 'Gertie', 'Caser'),
 (3962, 'Benoit', None),
 (3963, 'Ardelle', 'Dasent'),
 (3964, 'Aubrey', 'Souten'),
 (3965, 'Susannah', 'Dumphy'),
 (3966, 'Astrix', 'Sigward'),
 (3967, 'Lillis', 'Dobrowolski'),
 (3968, 'Alexandra', 'Kroch'),
 (3969, 'Randee', 'Penchen'),
 (3970, 'Modesty', 'Storks'),
 (3971, 'Analise', 'Asbrey'),
 (3972, 'Maribelle', 'Schaffel'),
 (3973, 'Carolan', 'Jorez'),
 (3974, 'Misha', 'Ranklin'),
 (3975, 'Dianemarie', 'Kidgell'),
 (3976, 'Gretel', 'Chrystal'),
 (3977, 'Katrinka', 'Van der Beken'),
 (3978, 'Kathlin', 'Robker'),
 (3979, 'Kleon', 'Adam'),
 (3980, 'Nils', 'McGebenay'),
 (3981, 'Konstance', 'Draye'),
 (3982, 'Maurita', "O'Kinedy"),
 (3983, 'Jarred', 'Lyste'),
 (3984, 'Thadeus', 'Buxsey'),
 (3985, 'Caryn', 'Padbury'),
 (3986, 'Oralle', 'Petrello'),
 (3987, 'Beckie', 'Wakeham'),
 (3988, 'Ammamaria', 'Ashburne'),
 (3989, 'Nicolas', 'Burdass'),
 (3990, 'Reynard', 'Hagger'),
 (3991, 'Rolph', 'Sweetnam'),
 (3992, 'Germain', 'Tireman'),
 (3993, 'Andi', 'Dumelow'),
 (3994, 'Stephie', 'Byars'),
 (3995, 'Rusty', 'Iapico'),
 (3996, 'Rosalia', 'Halgarth'),
 (3997, 'Blanch', 'Nisuis'),
 (3998, 'Sarene', 'Woolley'),
 (3999, 'Patrizius', None),
 (4000, 'Kippy', 'Oldland')]

## 2.7. Выведем всех клиентов из IT, у которых транзакции с максимальной стандартной стоимостью
Тут используем подзапрос для получения максимальной стандартной стоимости транзакций, которую будем использовать в соответствующем условии.

In [77]:
cursor.execute("""
    SELECT DISTINCT c.customer_id, c.first_name, c.last_name
    FROM customer_20240101 c
    INNER JOIN transaction_20240101 t
        USING (customer_id)
    WHERE c.job_industry_category = 'IT'
        AND t.standard_cost = (SELECT max(standard_cost) FROM transaction_20240101)
""")
cursor.fetchall()

[(34, 'Jephthah', 'Bachmann'),
 (168, 'Reggie', 'Broggetti'),
 (255, 'Keeley', 'Kruger'),
 (448, 'Robin', 'Crack'),
 (968, 'Wayne', 'Woodfin'),
 (975, 'Goldarina', 'Rzehorz'),
 (1182, 'Carolann', 'Ottiwill'),
 (1210, 'Shandie', 'Sprigg'),
 (1418, 'Valaria', 'Hugh'),
 (1672, 'Sharla', 'Creebo'),
 (1773, 'Nickolas', 'Guittet'),
 (1972, 'Obed', 'Pauler'),
 (2205, 'Birk', 'Elphey'),
 (2341, 'Caterina', 'Scedall'),
 (2638, 'Moritz', 'Brognot'),
 (3086, 'Pieter', 'Gadesby')]

## 2.8. Выведем всех клиентов из сферы IT и Health, у которых есть подтвержденные транзакции за период с '2017-07-07' по '2017-07-17'

In [78]:
cursor.execute("""
    SELECT DISTINCT c.customer_id, c.first_name, c.last_name
    FROM customer_20240101 c
    INNER JOIN transaction_20240101 t
        USING (customer_id)
    WHERE c.job_industry_category IN ('IT', 'Health')
        AND t.order_status = 'Approved'
        AND to_date(transaction_date, 'DD.MM.YYYY') BETWEEN '2017-07-07' AND '2017-07-17'
""")
cursor.fetchall()

[(22, 'Deeanne', 'Durtnell'),
 (28, 'Fee', 'Zellmer'),
 (41, 'Basilius', 'Coupe'),
 (47, 'Matthew', 'Jeaycock'),
 (104, 'Odille', 'Panketh'),
 (235, 'Leona', 'Phateplace'),
 (239, 'Wells', 'Pressman'),
 (249, "D'arcy", 'Slay'),
 (289, 'Modestia', 'Lithgow'),
 (290, 'Giorgio', 'Kevane'),
 (300, 'Malachi', 'Hadcroft'),
 (320, 'Aldous', 'Cubin'),
 (331, 'Ford', 'Groucock'),
 (338, 'Hilliary', 'Littrell'),
 (350, 'Carmela', 'Jesper'),
 (382, 'Issiah', 'Fardell'),
 (414, 'Thorin', 'Grimoldby'),
 (424, 'Dennie', 'Eunson'),
 (428, 'Freida', 'Everil'),
 (503, 'Burr', 'Gerb'),
 (526, 'Ardelle', None),
 (579, 'Cathlene', 'Bellas'),
 (590, 'Ddene', 'Burleton'),
 (612, 'Grange', 'Skillington'),
 (661, 'Cinderella', 'Haslen'),
 (679, 'Yolande', 'Whild'),
 (682, 'Ole', 'Euplate'),
 (685, 'Booth', 'Birkin'),
 (694, 'Lilith', 'Lanning'),
 (708, 'Idalina', 'Wilcot'),
 (712, 'Norine', 'Antonik'),
 (722, 'Stewart', 'Brosoli'),
 (753, 'Josy', 'St. Quentin'),
 (759, 'Mitchel', 'Schimek'),
 (769, 'Cameron', 'Letherbury'),
 (779, 'Maddy', 'Larrat'),
 (788, 'Gregg', 'Townsend'),
 (872, 'Suki', 'Ivachyov'),
 (886, 'Dawna', 'McCullen'),
 (892, 'Conroy', 'Healy'),
 (893, 'Gibby', 'Fearnley'),
 (936, 'Raffaello', 'Godleman'),
 (949, 'Jarid', 'Grebner'),
 (950, 'Bret', 'Ivakhnov'),
 (973, 'Annabella', 'Hebron'),
 (1005, 'Kalila', 'Birtwistle'),
 (1024, 'Rhodia', "D'Onise"),
 (1044, 'Frederico', 'Whilder'),
 (1076, 'Siegfried', 'Trattles'),
 (1091, 'Keith', 'Housden'),
 (1095, 'Emelda', 'Gerler'),
 (1166, 'Fannie', 'Devil'),
 (1174, 'Shellysheldon', 'Gooderridge'),
 (1189, 'Mart', 'Bazoche'),
 (1231, 'Aloisia', 'Shawel'),
 (1237, 'Junia', 'Humerstone'),
 (1328, 'Stavro', 'Gargett'),
 (1337, 'Damara', 'Wheatland'),
 (1343, 'Creight', 'Deery'),
 (1376, 'Pail', None),
 (1394, 'Freemon', 'Perago'),
 (1489, 'Mead', 'Wollard'),
 (1516, 'Ham', 'Pietrusiak'),
 (1538, 'Ahmed', 'Edmondson'),
 (1542, 'Sanders', 'Fernyhough'),
 (1555, 'Marcello', 'Spenclay'),
 (1578, 'Andreas', 'Bazely'),
 (1585, 'Stillman', 'Sackur'),
 (1683, 'Brenn', 'Bacon'),
 (1693, 'Ring', 'Birchall'),
 (1760, 'Kelsy', 'Barrowcliff'),
 (1836, 'Rochella', 'Harce'),
 (1862, 'Daron', 'Umpleby'),
 (1907, 'Lind', 'Dredge'),
 (1929, 'Elka', 'Crossgrove'),
 (1952, 'Patrica', 'Donativo'),
 (1956, 'Omero', 'Murra'),
 (2000, 'Kain', 'Rene'),
 (2024, 'Elinor', 'Biggerstaff'),
 (2205, 'Birk', 'Elphey'),
 (2210, 'Kirby', 'Cameron'),
 (2235, 'Maxine', 'Cauldwell'),
 (2285, 'Maritsa', 'Bellison'),
 (2317, 'Alwin', 'Cuberley'),
 (2337, 'Odilia', 'Bick'),
 (2341, 'Caterina', 'Scedall'),
 (2366, 'Idette', 'Mapam'),
 (2391, 'Corny', 'Millott'),
 (2442, 'Odie', 'Enrrico'),
 (2463, 'Krystle', 'Jovicevic'),
 (2490, 'Clint', 'Krause'),
 (2516, 'Zoe', 'Kiddye'),
 (2610, 'Arliene', 'Bartolijn'),
 (2684, 'Erastus', 'Payley'),
 (2690, 'Sissie', 'Giordano'),
 (2701, 'Ileana', 'Timms'),
 (2717, 'Frederic', 'McGown'),
 (2782, 'Gillian', 'Scrimshire'),
 (2881, 'Ezra', 'Steffan'),
 (2953, 'Hector', 'Carwithan'),
 (2973, 'Torr', 'Mintram'),
 (3070, 'Malissia', 'Minthorpe'),
 (3105, 'Bryn', 'Rycraft'),
 (3109, 'Jeralee', 'Domleo'),
 (3151, 'Thorn', 'Choffin'),
 (3166, 'Bronson', 'Plowman'),
 (3169, 'Maxim', 'Chavrin'),
 (3173, 'Angelo', None),
 (3211, 'Betsy', 'Cosh'),
 (3225, 'Durante', 'Reddan'),
 (3255, 'Sutherlan', 'Truin'),
 (3288, 'Fair', 'Dewen'),
 (3360, 'Joelie', 'Sherlaw'),
 (3365, 'Karlens', 'Chaffyn'),
 (3482, 'Roch', 'Rilston')]